/* Grid */
.grid-numbers {
  width: 90%;
  max-width: 530px;
  display: grid;
  margin: auto;
  padding: 25px 20px;
  grid-template-areas:
    "seven eight nine del"
    "four five six plus"
    "one two three min"
    "point zero slash multi"
    "reset reset equal equal";
  grid-template-columns: repeat(4, minmax(40px, 100px));
  grid-template-rows: repeat(5, minmax(40px, 70px));
  gap: 20px;
  justify-content: center;
  border-radius: 10px;
  transition: background-color 0.5s;
}
/* Theme one */
.grid-numbers-theme-one {
  background-color: var(--very-dark-desaturated-blue-toggle-keypad-bg);
}
.grid-numbers-theme-two {
  background-color: var(--grayish-red-toggle-keypad-bg);
}
.grid-numbers-theme-three {
  background-color: var(--very-dark-violet-toggle-keypad-screen-bg);
}
/* Numbers */
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.del {
  grid-area: del;
  font-size: 28px;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.plus {
  grid-area: plus;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.min {
  grid-area: min;
}
.point {
  grid-area: point;
}
.zero {
  grid-area: zero;
}
.slash {
  grid-area: slash;
}
.multi {
  grid-area: multi;
}
.reset {
  grid-area: reset;
  font-size: 28px;
}
.equal {
  grid-area: equal;
  font-size: 28px;
}
/* Media Queries */
@media (max-width: 600px) {
  .grid-numbers {
    gap:14px;
  }
  .del {
    font-size: 20px;
  }
  .reset {
    font-size: 20px;
  }
  .equal {
    font-size: 20px;
  }
}